@import url('https://7onts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap&#39';);

body {
    background: url(Santos_Logo.png);
    background-size: 100%;
    font-family : "Open Sans";
}

h2 {
    margin-top: -5px;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 240px;
    padding: 20px;
    border-radius:10px;
    background-color: rgba(9, 132, 247, 0.452);
    border: 3px solid srgb(0, 0, 0);
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.celula {
    width: 75px;
    height: 65px;
    font-size: 30px;
    margin: 4px 2px;
    font-weight: 300;
    padding-top: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(24, 214, 214);
}